<template>
  <div class="hello">
    <span>{{ title }}</span>
    <ul id="example-1">
      <li v-for="(version, index) in versionList" :key="`version-${index}`">
        {{ version }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'RvmTravisReader',
  data() {
    return {
      versionList: [],
    };
  },
  props: {
    repository: {
      type: String,
      default: '',
    },
    branch: {
      type: String,
      default: 'master',
    },
    title: {
      type: String,
      default: 'Tested in Ruby:',
    },
  },
  computed: {
    repo() {
      return `https://raw.githubusercontent.com/${this.repository}/${this.branch}/.travis.yml`;
    },
  },
  created() {
    this.versionList = ['...wait for it....'];
    this.$http.get(this.repo).then((response) => {
      const versionList = response.data.split('\n').filter(line => line.match(/.*rvm.*/)).map(x => x.replace(/.*rvm: /, ''));
      const uniqueVersionList = [...new Set(versionList)];
      this.versionList = uniqueVersionList;
    }, (error) => {
      console.log(error.statusText);
      this.versionList = ['Can not read .travis.yml'];
    });
  },
};
</script>
